.nav-pills .nav-ABC.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: lightblue;
}

.nav-pills .nav-abc.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: lightpink;
}

.nav-pills .nav-123.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: lightgreen;
}

.nav-pills .nav-phonics.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: lightgoldenrodyellow;
}

/* .tab-content {
    height: calc(100vh - 130px);
} */

img {
    width: 50%;
}

.capital {
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    display: inline-block;
    /* transition: 1.5s ease-in-out; */
    margin-top: 15px;
}

@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate(-7deg);
    }

    50% {
        transform: translate(0, -7px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(7deg);
    }
}
